@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: "League Spartan", sans-serif;
  line-height: 1.4;
  height: 100%;
}
body .overlay {
  background-color: hsl(0deg, 0%, 27%);
  opacity: 0;
  position: fixed;
  top: 4.375rem;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-in;
}

.overlay.show {
  opacity: 0.7;
  z-index: 40;
}
@media (min-width: 912px) {
  .overlay.show {
    opacity: 0;
  }
}

body.show {
  overflow: hidden;
}
@media (min-width: 912px) {
  body.show {
    overflow: visible;
  }
}

@media (min-width: 576px) {
  .container {
    width: 36rem;
    margin: 0 auto;
  }
}
@media (min-width: 912px) {
  .hero.container {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .contain {
    width: 90rem;
    margin: 0 auto;
  }
}
img {
  width: 100%;
  vertical-align: middle;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

.header__container {
  position: relative;
}
.header__content-nav {
  position: absolute;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  z-index: 10;
  transition: background-color 0.5s ease-in-out;
}
@media (min-width: 912px) {
  .header__content-nav {
    width: 25.625rem;
    padding-top: 2.75rem;
    margin-left: 2rem;
  }
}
.header__content-nav .menu {
  background-image: url(../../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1.125rem;
  width: 1.5625rem;
  cursor: pointer;
}
@media (min-width: 912px) {
  .header__content-nav .menu {
    display: none;
  }
}
.header__content-nav .menu.active {
  background-image: url(../../images/icon-close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  z-index: 10;
}
.header__content-nav .logo.active {
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 912px) {
  .header__content-nav .logo.active {
    opacity: 1;
    pointer-events: all;
  }
}
.header__content-nav.active {
  background-color: hsl(0deg, 0%, 100%);
}
@media (min-width: 912px) {
  .header__content-nav.active {
    background-color: transparent;
  }
}
.header .nav {
  position: relative;
}
.header .nav__menu {
  display: flex;
  position: absolute;
  top: -0.625rem;
  transform: translateX(25rem);
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 280px) {
  .header .nav__menu {
    margin-left: 3rem;
  }
}
@media (min-width: 912px) {
  .header .nav__menu {
    position: static;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(0rem);
  }
}
.header .nav__menu li {
  padding: 0 1rem;
}
@media (max-width: 280px) {
  .header .nav__menu li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.header .nav__menu a {
  font-weight: 600;
  color: hsl(0deg, 0%, 0%);
  text-transform: lowercase;
  position: relative;
}
@media (min-width: 912px) {
  .header .nav__menu a {
    color: hsl(0deg, 0%, 100%);
    font-weight: normal;
  }
  .header .nav__menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.1875rem;
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 0.125rem;
    background-color: hsl(0deg, 0%, 100%);
    transition: transform 0.4s ease-in-out, scale 0.4s ease-in-out;
  }
  .header .nav__menu a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.header .nav__menu.active {
  transform: translateX(-17.5rem);
}
@media (min-width: 912px) {
  .header .nav__menu.active {
    transform: translateX(0rem);
  }
}

.flex {
  overflow: hidden;
}
@media (min-width: 912px) {
  .flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12.5rem;
  }
}
@media (min-width: 1024px) {
  .flex {
    grid-template-rows: unset;
  }
}

.wrapper {
  overflow: hidden;
  width: 650px;
}
@media (min-width: 576px) {
  .wrapper {
    width: 100%;
  }
}
@media (min-width: 912px) {
  .wrapper {
    grid-row: 1/4;
    width: 31.25rem;
    position: static;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 40.625rem;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 43.75rem;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 51.25rem;
  }
}

.carousel {
  position: relative;
  height: 500px;
  transition: transform 0.4s cubic-bezier(0.48, 0.15, 0.18, 1);
}
.carousel__img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.carousel__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}

.buttons {
  width: 100%;
  position: absolute;
  transform: translateY(-53px);
  display: flex;
  justify-content: flex-end;
  z-index: 20;
}
@media (min-width: 912px) {
  .buttons {
    top: 16.5625rem;
    left: -25.8125rem;
    grid-column: 2/3;
    grid-row: 3;
    transform: translateY(0px);
  }
}
@media (min-width: 1024px) {
  .buttons {
    position: static;
    display: flex;
    justify-content: flex-start;
    grid-column: 2/3;
    grid-row: 3;
    transform: translateY(0px);
  }
}
.buttons button {
  z-index: 10;
  padding: 0.6875rem 1.25rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: hsl(0deg, 0%, 0%);
  transition: background-color 0.3s ease-in-out;
}
.buttons button:hover {
  background-color: hsl(0deg, 0%, 27%);
}
@media (min-width: 1200px) {
  .buttons button {
    padding: 1.5rem 2.125rem;
  }
}
.buttons img {
  width: 0.9375rem;
  cursor: pointer;
  padding-top: 0.3125rem;
}

.hero {
  position: relative;
  min-height: 23.125rem;
}
@media (max-width: 280px) {
  .hero {
    min-height: 25rem;
    text-align: center;
  }
}
@media (min-width: 912px) {
  .hero {
    grid-column: 2/-1;
    min-height: 21.875rem;
  }
}
.hero__content {
  position: absolute;
  padding: 2.5rem 1rem 0;
  opacity: 0;
  transition: opacity 0.7s ease;
}
@media (min-width: 1200px) {
  .hero__content {
    width: 500px;
    padding-top: 4rem;
    padding-left: 3rem;
  }
}
.hero__content h1 {
  font-size: 2.1875rem;
  line-height: 1;
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  .hero__content h1 {
    font-size: 2.8125rem;
  }
}
.hero__content p {
  color: hsl(0deg, 0%, 63%);
}
.hero__content .cta {
  margin-top: 1.875rem;
}
@media (min-width: 912px) {
  .hero__content .cta {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .hero__content .cta {
    margin-top: unset;
  }
}
.hero__content .cta .flex {
  display: flex;
  align-items: center;
}
.hero__content .cta .span {
  text-transform: uppercase;
  color: hsl(0deg, 0%, 27%);
  letter-spacing: 0.5625rem;
  font-size: 0.9375rem;
  margin-right: 1.375rem;
  font-weight: 500;
}
.hero__content .cta img {
  width: 3.125rem;
  height: 3.125rem;
  object-fit: contain;
}
.hero__content.active {
  opacity: 1;
}

.about__text {
  padding: 2.5rem 1rem;
  z-index: 10;
}
@media (max-width: 280px) {
  .about__text {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .about__text {
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}
.about__text h2 {
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}
.about__text p {
  color: hsl(0deg, 0%, 63%);
}
@media (min-width: 1024px) {
  .about__content {
    display: flex;
  }
  .about__content > * {
    flex-basis: 100%;
  }
  .about__content img {
    height: 100%;
  }
}