@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  line-height: 1.3;
  height: 100vh;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

.hide {
  display: none;
}

.header {
  background-color: hsl(0deg, 0%, 100%);
  overflow-x: hidden;
}
.header.active {
  background-color: hsl(0deg, 0%, 27%);
}
.header__content-nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  z-index: 10;
  transition: background-color 0.5s ease-in-out;
}
.header__content-nav .menu {
  background-image: url(../../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1.125rem;
  width: 1.5625rem;
  cursor: pointer;
}
.header__content-nav .menu.active {
  background-image: url(../../images/icon-close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  z-index: 10;
}
.header__content-nav .logo {
  padding-top: 0.5rem;
}
.header__content-nav .logo.active {
  opacity: 0;
  pointer-events: none;
}
.header__content-nav.active {
  background-color: hsl(0deg, 0%, 100%);
}
.header .nav {
  position: relative;
}
.header .nav__menu {
  overflow: hidden;
  display: flex;
  position: absolute;
  top: -0.625rem;
  right: -0.8125rem;
  transform: translateX(25rem);
  transition: transform 0.7s ease-in;
}
.header .nav__menu li {
  padding: 0 1.125rem;
}
.header .nav__menu a {
  font-weight: 600;
  color: hsl(0deg, 0%, 0%);
  text-transform: lowercase;
}
.header .nav__menu.active {
  transform: translateX(0);
}
.header .slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.header .slider__container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.7s ease;
}
.header .slider img {
  object-fit: contain;
}
.header .buttons {
  position: absolute;
  bottom: 0;
  right: 0rem;
  background-color: hsl(0deg, 0%, 0%);
  padding: 0.7rem 1.25rem;
}
.header .buttons img {
  width: 0.625rem;
  cursor: pointer;
  padding-top: 0.3125rem;
}
.header .buttons .prev-btn {
  margin-right: 2.1875rem;
}

.main {
  display: none;
}