@use './colors' as *;
@use '../util/functions' as *;
@use '../util/breakpoints' as *;

// HEADER SECTION
.header {
  &__container {
    position: relative;
  }

  &__content-nav {
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(24) rem(16);
    z-index: 10;
    transition: background-color 0.5s ease-in-out;

    @include tablet {
      width: rem(410);
      padding-top: rem(44);
      margin-left: rem(32);
    }

    .menu {
      background-image: url(../../images/icon-hamburger.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: rem(18);
      width: rem(25);
      cursor: pointer;

      @include tablet {
        display: none;
      }
    }

    .menu.active {
      background-image: url(../../images/icon-close.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: rem(20);
      width: rem(20);
      cursor: pointer;
      z-index: 10;
    }

    .logo {
      &.active {
        opacity: 0;
        pointer-events: none;

        @include tablet {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    &.active {
      background-color: $White;

      @include tablet {
        background-color: transparent;
      }
    }
  }

  .nav {
    position: relative;

    &__menu {
      display: flex;
      position: absolute;
      top: rem(-10);
      transform: translateX(rem(400));
      transition: transform 0.5s ease-in-out;

      @include extra-small {
        margin-left: rem(48);
      }

      @include tablet {
        position: static;
        justify-content: flex-start;
        align-items: flex-start;
        transform: translateX(rem(0));
      }

      li {
        padding: 0 rem(16);

        @include extra-small {
          padding-left: rem(8);
          padding-right: rem(8);
        }
      }

      a {
        font-weight: 600;
        color: $Black;
        text-transform: lowercase;

        position: relative;

        @include tablet {
          color: $White;
          font-weight: normal;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: rem(-3);
            transform: scaleX(0);
            transform-origin: center;
            width: 100%;
            height: rem(2);
            background-color: $White;
            transition: transform 0.4s ease-in-out, scale 0.4s ease-in-out;
          }

          &:hover:after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }

      &.active {
        transform: translateX(rem(-280));

        @include tablet {
          transform: translateX(rem(0));
        }
      }
    }
  }
}

.flex {
  overflow: hidden;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: rem(200);
  }

  @include large {
    grid-template-rows: unset;
  }
}

// CAROUSEL SLIDER
.wrapper {
  overflow: hidden;
  // width: 650px;

  // @include landscape {
  //   width: 100%;
  // }

  // @include tablet {
  //   grid-row: 1/4;
  //   width: rem(500);
  //   position: static;
  // }

  // @include large {
  //   width: rem(650);
  // }

  // @include extra-large {
  //   width: rem(700);
  // }

  // @include huge {
  //   width: rem(820);
  // }
}

.carousel {
  position: relative;
  height: 500px;
  transition: transform 0.4s cubic-bezier(0.48, 0.15, 0.18, 1);

  &__img {
    height: 100%;
    width: 100%;
    position: absolute;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      image-rendering: pixelated;
    }
  }
}

// SLIDERS
// .slider {
//   width: rem(650);
//   overflow: hidden;
//   z-index: 1;
//   position: relative;

//   @include landscape {
//     width: 100%;
//   }

//   @include tablet {
//     grid-row: 1/4;
//     width: rem(500);
//     position: static;
//   }

//   @include large {
//     width: rem(650);
//   }

//   @include extra-large {
//     width: rem(700);
//   }

//   @include huge {
//     width: rem(820);
//   }

//   &__container {
//     display: flex;
//     transform: translateX(0);
//     transition: transform 0.7s ease;
//   }

//   img {
//     object-fit: contain;
//     height: 100%;
//   }
// }

// BUTTONS
.buttons {
  width: 100%;
  position: absolute;
  transform: translateY(-53px);
  display: flex;
  justify-content: flex-end;
  z-index: 20;

  @include tablet {
    top: rem(265);
    left: rem(-413);
    grid-column: 2/3;
    grid-row: 3;
    transform: translateY(0px);
  }

  @include large {
    position: static;
    display: flex;
    justify-content: flex-start;
    grid-column: 2/3;
    grid-row: 3;
    transform: translateY(0px);
  }

  button {
    z-index: 10;
    padding: rem(11) rem(20);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $Black;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $VeryDarkGray;
    }

    @include extra-large {
      padding: rem(24) rem(34);
    }
  }

  img {
    width: rem(15);
    cursor: pointer;
    padding-top: rem(5);
  }
}

// HERO SECTION
.hero {
  position: relative;
  min-height: rem(370);

  @include extra-small {
    min-height: rem(400);
    text-align: center;
  }

  @include tablet {
    grid-column: 2/-1;
    min-height: rem(350);
  }

  &__content {
    position: absolute;
    padding: rem(40) rem(16) 0;
    opacity: 0;
    transition: opacity 0.7s ease;

    @include extra-large {
      width: 500px;
      padding-top: rem(64);
      padding-left: rem(48);
    }

    h1 {
      font-size: rem(35);
      line-height: 1;
      margin-bottom: rem(16);

      @include extra-large {
        font-size: rem(45);
      }
    }

    p {
      color: $DarkGray;
    }

    .cta {
      margin-top: rem(30);

      @include tablet {
        margin-top: 0;
      }

      @include large {
        margin-top: unset;
      }

      .flex {
        display: flex;
        align-items: center;
      }

      .span {
        text-transform: uppercase;
        color: $VeryDarkGray;
        letter-spacing: rem(9);
        font-size: rem(15);
        margin-right: rem(22);
        font-weight: 500;
      }

      img {
        width: rem(50);
        height: rem(50);
        object-fit: contain;
      }
    }

    &.active {
      opacity: 1;
    }
  }
}

// ABOUT SECTION
.about {
  &__text {
    padding: rem(40) rem(16);
    z-index: 10;

    @include extra-small {
      text-align: center;
    }

    @include extra-large {
      padding-left: rem(50);
      padding-right: rem(50);
    }

    h2 {
      text-transform: uppercase;
      letter-spacing: rem(5);
      font-size: rem(20);
      margin-bottom: rem(12);
    }

    p {
      color: $DarkGray;
    }
  }

  @include large {
    &__content {
      display: flex;

      & > * {
        flex-basis: 100%;
      }

      img {
        height: 100%;
      }
    }
  }
}

// // CAROUSEL SLIDER
// .carousel {
//   position: relative;
//   height: 400px;
//   transition: transform 0.4s cubic-bezier(0.23, 0.13, 0.23, 0.13);

//   &__img {
//     height: 100%;
//     width: 100%;
//     position: absolute;

//     img {
//       height: 100%;
//       width: 100%;
//       object-fit: cover;
//     }
//   }
// }
