@use './fonts' as *;
@use './colors' as *;
@use '../util/functions' as *;
@use '../util/breakpoints' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  line-height: 1.4;
  height: 100%;

  .overlay {
    background-color: $VeryDarkGray;
    opacity: 0;
    position: fixed;
    top: rem(70);
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in;
  }
}

.overlay.show {
  opacity: 0.7;
  z-index: 40;
}

body.show {
  overflow: hidden;
}

@include landscape {
  .container {
    width: 576px;
    margin: 0 auto;
  }
}

@include tablet {
  .hero.container {
    width: 100%;
  }
}

img {
  width: 100%;
  vertical-align: middle;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}
