@use './fonts' as *;
@use './colors' as *;
@use '../util/functions' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  line-height: 1.4;
  height: 100vh;

  // &.active {
  //   background-color: $VeryDarkGray;
  // }
}

.overlay.show {
  background-color: $VeryDarkGray;

  opacity: 0.7;
  position: fixed;
  top: rem(78);
  width: 100%;
  height: 100%;
  z-index: 999;
}

img {
  width: 100%;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}
