@use './fonts' as *;
@use './colors' as *;
@use '../util/functions' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
p {
  line-height: 1.4;
}

body {
  font-family: $font-family;
  height: 100vh;

  .overlay {
    background-color: $VeryDarkGray;
    opacity: 0;
    position: fixed;
    top: rem(74);
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-in;
  }
}

.overlay.show {
  opacity: 0.7;
  z-index: 14;
}

body.show {
  overflow: hidden;
}

img {
  width: 100%;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}
